

{% block title%}Login{% endblock %}

{% block content%}
<br>
<br>

<div class="container-fluid">
	<div class="container-fluid">
		<div id="titulo">
			<h3>SHOPPING NORTE</h3>
			<small>P a r k i n g   T i c k e t</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			 			<form class="login100-form validate-form" method="post">
    		  {% csrf_token %}				
					<div class="container">
						<i class="fa fa-users"></i>
						<label for="id_username">Usuario</label>
						<input id="id_username" name="username" type="text" class="form-control" placeholder="Usuario">
						<br>
						<i class="fa fa-key"></i>
						<label for="id_password">Contraseña</label>
						<input id="id_password" name="password" type="password" class="form-control" placeholder="Contraseña">
					</div>
					<br>
					<div class="col">
						<button type="submit" class="btn btn-success btn-lg btn-block">
							<!--<i class="fas fa-share-square"></i>-->
							INICIAR
						</button>
					</div>

		    </form>
			
		</div>
	</div>
</div>




{%endblock %}