{% extends 'Operador/base.html'%}
{% load static %}

{% block title %}Ingresos{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<style>
	#fi, #fs{
		width: 110px;
	}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid">
	<div id="titulo">
		<h3>SHOPPING NORTE</h3>
		<small>P a r k i n g   T i c k e t</small>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<small id="usuario">Usuario: {{user}}</small>
		</div>
		
	</div>
</div>
<div class="container-fluid">

	<div class="row">
		<div class="col-lg-12">
			<h2>Arqueo dia |</h2>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-2"><h5>Matrícula</h5></div>
		<div class="col-lg-2"><h5>Fecha Pago</h5></div>
		<div class="col-lg-2"><h5>Pago Bs.</h5></div>
	</div>
	{% for i in mat %}
		<div class="row">
			<div class="col-lg-2">{{i.mat.matricula}}</div>
			<div class="col-lg-2">{{i.mat.fecha}}</div>
			<div class="col-lg-2">{{i.pagar}}</div>
		</div>
	
	{% endfor %}

	<hr>
	<div class="row">
		<div class="col-lg-12">
			<h4>Total Ingresos: {{total}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<br><br><br><br>
		</div>
	</div>

	

</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>

<script>
$(document).ready(function(){
	$( function() {
    	$( "#fi" ).datepicker();
    	$( "#fi" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  	});
  	$( function() {
	   	$( "#fs" ).datepicker();
	   	$( "#fs" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	});

})

</script>

{% endblock %}
