{% extends 'Operador/base.html'%}
{% load static%}

{% block title %}Shopping-Norte{% endblock %}

{% block estilos %}
<style type="text/css">
	#data{
		font-size: 12px;
	}

	#data:nth-child(even){
		background-color: rgba(20,130,12,0.2);

	}
	.button{
		background: rgb(10,10,131);
		
		border-radius: 5px;
    	color: #FFF;
    	font-weight: bold;
    	font-size: 14px;
    	padding: 4px;
    	margin-bottom:6px;
    	margin-top: 6px;
    	box-shadow: #555 2px 3px 2px;

	}
</style>

{% endblock %}

{% block content %}

<div class="container-fluid">
	<div id="titulo">
		<h3>SHOPPING NORTE</h3>
		<small>P a r k i n g   T i c k e t</small>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<small id="usuario">Usuario: {{user}}</small>
		</div>
		
	</div>
</div>



<div class="container-fluid">
	<div class="row text-center">
		<div class="col-md-4">
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-10" id="matricula1">
					<h3>Matrícula:</h3>
				</div>
				<div class="col-lg-1">

				</div>
			</div>
			<div class="row" id="busqueda">


			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<input id="matricula" type="text" name="" placeholder="--- ---" maxlength="9">
				</div>
			</div>
			<!-- Modificado para Motocicleta 21 Feb 2020-->
			<div class="row">
				<div class="col-lg-12">
					<input type="checkbox" name="moto" id="moto"><label>Motocicleta</label>
				</div>
			</div>
			<!-- -->
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-5">
					<button id="btn_ingreso">Ingreso</button>
				</div>
				<div class="col-lg-5">
					<button id="btn_pagar">Pagar</button>
				</div>
				<div class="col-lg-1"></div>
			</div>
			
<br>
			<div class="container-fluid" >

				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-10" id="xxx">
						<div class="row">
							<div class="col-lg-12"><div>Total a Pagar</div></div>
						</div>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-2 text-center" id="bs">
								<small><h1><small>Bs. </small></h1></small>
							</div>
							<div class="col-md-5"><div id="pagar"></div></div>
						</div>
						<div class="row">
							<div class="col-md-12"><div id="min"></div></div>
						</div>
					</div>
					<div class="col-lg-1"></div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-12">
						
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-8" id="mats_container">
			{% if parking %}
				<div class="row" id="matricula1">
					<div class="col-lg-12">
						<h3>Hay {{count}} vehículos en Parqueo</h3>
					</div>
					
				</div>
				<div class="row">
					<div class="col-6">
						
					</div>
					<div class="col-lg-2">
						<a class="button" href="{% url 'contrato'%}">Contratos</a>
					</div>
					<div class="col-lg-2">
						<a class="button" href="{% url 'salidas'%}" >Salidas</a>
					</div>
					<div class="col-lg-2">
						<a class="button" href="{% url 'arqueo'%}" >Arqueo</a>
					</div>
				</div>

				<br>
				<div class="row">
					{% for i in parking %}
						<div class="col-lg-2" id="autos">
							<div class="row">
								<div class="col-lg-12" id="auto_ma">
									<span>{{i.matricula}}</span>
								</div>
							</div>
							<div class="row text-center">
								<div class="col-lg-12" id="fecha">
										{{i.fecha_ingreso.date|date:'d-m-Y'}} | {{i.fecha_ingreso.time}}
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="row">
					<div class="col-lg-12">
						<h5>No existen Vehículos en Parqueo</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						
					</div>
					<div class="col-lg-2">
						<a class="button" href="{% url 'contrato'%}">Contratos</a>
					</div>
					<div class="col-lg-2">
						<a class="button" href="{% url 'salidas'%}" >Salidas</a>
					</div>
					<div class="col-lg-2">
						<a class="button" href="{% url 'arqueo'%}" >Arqueo</a>
					</div>
				</div>
			{% endif %}
<hr>
			<div class="row text-center">
				<div class="col-lg-12"><h5>Contratos</h5></div>
			</div>
			<div class="row">
				{% for i in c %}
					<div class="col-lg-2" id="autos_c">
						<div class="row">
							<div class="col-lg-12" id="auto_ma">
								<span>{{i.matricula}}</span>
							</div>
						</div>

						<div class="row text-center">
							<div class="col-lg-12" id="fecha">
								Desde: {{i.inicio|date:'d-m-Y'}} Hasta: {{i.final|date:'d-m-Y'}}
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12"></div>
						</div>
					</div>
				{% endfor %}
			</div>
				
				
		</div>


<!-- Parking Contrato-->
		


	</div>
	

</div>
<br>



{% endblock %}

{% block scripts%}
<script>
	$("#matricula").val("");
	$("#lab").hide();
	$("#xxx").hide();

$(document).ready(function(){

	var moto=false;

	//modificado para motocicletas 21 Feb 20202
	$("#moto").click(function(){
		var c=$(this).is(':checked');

		//alert(c);
		moto=c;

	});
	//

//evento para hacer click en id=auto_mat
	$("[id^='auto_ma']").click(function(){
		var m=$(this).text().trim();
		//mat=mat.substring(mat.length-4,mat.length-3);
		mat=m.replace('-','');
		//alert(mat);
		$("#matricula").val(mat);
		jsonobj=[]
		jsonobj.push({'matricula':m});


		//limpiamos 
		$("#lab").hide();
		$("#pagar").html("");
		$("#min").html("");

		$.ajax({
            type: "POST",
            url: "{% url 'total_pagar' %}",
            dataType: "json",
            //data: {data:JSON.stringify({"data":[{"cod":123,"can":222}],"data2":[{"cod2":999,"can2":101010},{"cod22":"erick","can22":"ricardo"}]})},
            data:{data:JSON.stringify(jsonobj)},
            success: function(data_enviar, status, jqXHR) {
                console.log("Status:--->"+JSON.stringify(data_enviar));

                $("#lab").show();
                $("#xxx").show();
                
                $("#pagar").append("<h1>"+data_enviar.pagar+"</h1>");
                $("#min").append("<h1>"+data_enviar.horas+"hrs. - "+data_enviar.min+"min.</h1>");



                //window.location.replace("{%url 'home'%}");     //Para redireccionar a otra URL
            },
        });



	});
	


	$("#btn_ingreso").click(function(){
		var m=$("#matricula").val();
		if (m===''){
			alert("Ingrese Matricula ");
		}
		else{
		var jsonobj=[];
		var u='{{user}}';
		var mat={};
		var user={};

		mat={'matricula':m};
		user={'user':u};
		moto={'moto':moto};

		jsonobj.push(mat);
		jsonobj.push(user);
		jsonobj.push(moto);

        $.ajax({
            type: "POST",
            url: "{% url 'ingreso' %}",
            dataType: "json",
            //data: {data:JSON.stringify({"data":[{"cod":123,"can":222}],"data2":[{"cod2":999,"can2":101010},{"cod22":"erick","can22":"ricardo"}]})},
            data:{data:JSON.stringify(jsonobj)},
            success: function(data_enviar, status, jqXHR) {
                console.log("Status:--->"+JSON.stringify(data_enviar));
                if(data_enviar.status==='true'){
                	alert("Datos Guardados...");
                	$("#matricula").val("");
                	$("#matricula1").html("");
                	window.location.replace("{%url 'home'%}");
                }
                else{
                	alert("No se puede Ingresar la Matricula");
                	$("#matricula").val("");
                	$("#matricula1").html("");
                	$("#xxx").hide();
                }
                //window.location.replace("{%url 'home'%}");     //Para redireccionar a otra URL
            },
        });

		}

	});

	$("#matricula").click(function(){
		$(this).val("");
		$("#xxx").hide();
		$("#busqueda").html("");
	});



	//PARA BUSQUEDAS
	$("#matricula").keyup(function(){
		$("#busqueda").html("");
		var jsonobj=[];
		var mat={};
		var matricula=$(this).val();	
		var i=0;
		var aux_mat;

		mat={'matricula':matricula};

		jsonobj.push(mat);


		if(matricula==""){
			$("#busqueda").html("");
		}
		else{
			$.ajax({
	            type: "POST",
	            url: "{% url 'busqueda' %}",
	            dataType: "json",
	            
	            data:{data:JSON.stringify(jsonobj)},
	            success: function(data_enviar, status, jqXHR) {
	                //console.log("Status:--->"+JSON.stringify(data_enviar));
	                
	                
	                for ( i=0;i<data_enviar.length;i++){
	                	aux_mat=String(data_enviar[i]['mat']);
	                	//console.log(data_enviar[i]['mat']);
	                	$("#busqueda").append("<div class='col-lg-3' id='autos_posible'><div class='row'><div class='col-lg-12' id='auto_max' value='"+aux_mat+"'><span>"+aux_mat+"</span></div></div></div>"
	                	);
	                }
	                
	                //window.location.replace("{%url 'home'%}");     //Para redireccionar a otra URL
	            },
	        });
		}
	});

	///DElegeamos la funcion CLICK a nuevos elementos DOM
	$("#busqueda").on('click','[id^="auto_ma"]',function(){
		var m=$(this).attr('value');
		//mat=mat.substring(mat.length-4,mat.length-3);
		mat=m.replace('-','');
		//alert(mat);
		$("#matricula").val(mat);
		jsonobj=[]
		jsonobj.push({'matricula':m});


		//limpiamos 
		$("#lab").hide();
		$("#pagar").html("");
		$("#min").html("");

		$.ajax({
            type: "POST",
            url: "{% url 'total_pagar' %}",
            dataType: "json",
            //data: {data:JSON.stringify({"data":[{"cod":123,"can":222}],"data2":[{"cod2":999,"can2":101010},{"cod22":"erick","can22":"ricardo"}]})},
            data:{data:JSON.stringify(jsonobj)},
            success: function(data_enviar, status, jqXHR) {
                console.log("Status:--->"+JSON.stringify(data_enviar));

                $("#lab").show();
                $("#xxx").show();
                
                $("#pagar").append("<h1>"+data_enviar.pagar+"</h1>");
                $("#min").append("<h1>"+data_enviar.horas+"hrs. - "+data_enviar.min+"min.</h1>");



                //window.location.replace("{%url 'home'%}");     //Para redireccionar a otra URL
            },
        });

	});
	

	
	

//evento para SALIDA de MATRICULA
	$("#btn_pagar").click(function(){
		var jsonobj=[];
		var m=$("#matricula").val();
		var u='{{user}}';
		var mat={};
		var user={};

		mat={'matricula':m};
		user={'user':u};

		jsonobj.push(mat);
		jsonobj.push(user);

        $.ajax({
            type: "POST",
            url: "{% url 'salida' %}",
            dataType: "json",
            //data: {data:JSON.stringify({"data":[{"cod":123,"can":222}],"data2":[{"cod2":999,"can2":101010},{"cod22":"erick","can22":"ricardo"}]})},
            data:{data:JSON.stringify(jsonobj)},
            success: function(data_enviar, status, jqXHR) {
                console.log("Status:--->"+JSON.stringify(data_enviar));
                if(data_enviar.status==='true'){
                	$("#lab").show();
                	$("#pagar").show();
                	$("#pagar_total").append("<h1>"+data_enviar.pagar+"</h1>")
                	alert("Datos Reportados Satisfactorimanete");
                	window.location.replace("{%url 'home'%}");
                }
                else{
                	alert("No se puede Registrar Salida la Matricula");
                	$("#matricula").val("");
                }
                //window.location.replace("{%url 'home'%}");     //Para redireccionar a otra URL
            },
        });
	});

/////////////////////////////////FIN SALIDA
	    // CSRF code
function getCookie(name) {
  var cookieValue = null;
  var i = 0;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (i; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  crossDomain: false, // obviates need for sameOrigin test
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type)) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});
})
</script>
{%endblock%}

