{% extends 'Operador/base.html'%}
{% load static%}

{% block title %}Shopping-Norte{% endblock %}

{% block estilos %}
<style type="text/css">
	#data{
		font-size: 12px;
	}

	#data:nth-child(even){
		background-color: rgba(20,130,12,0.2);

	}
</style>

{% endblock %}

{% block content %}

<div class="container-fluid">
	<div id="titulo">
		<h3>SHOPPING NORTE</h3>
		<small>P a r k i n g   T i c k e t</small>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<small id="usuario">Usuario: {{user}}</small>
		</div>
		
	</div>
</div>



<div class="container-fluid">
	<div class="row text-center">
		<div class="col-md-4">
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-10" id="matricula1">
					<h3>Matrícula:</h3>
				</div>
				<div class="col-lg-1"></div>
			</div><br>
			
			<!-- <input id="num" type="tel" name="" placeholder="1234" maxlength="4">-->
			<div class="row">
				<div class="col-lg-12">
					<input id="matricula" type="text" name="" placeholder="--- ---" maxlength="9">		
				</div>
			</div>
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-5">
					<button id="btn_ingreso">Ingreso</button>
				</div>
				<div class="col-lg-5">
					<button id="btn_pagar">Pagar</button>
				</div>
				<div class="col-lg-1"></div>
			</div>
			
<br>
			<div class="container-fluid" >

				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-10" id="xxx">
						<div class="row">
							<div class="col-lg-12"><div>Total a Pagar</div></div>
						</div>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-2 text-center" id="bs">
								<small><h1><small>Bs. </small></h1></small>
							</div>
							<div class="col-md-5"><div id="pagar"></div></div>
						</div>
						<div class="row">
							<div class="col-md-12"><div id="min"></div></div>
						</div>
					</div>
					<div class="col-lg-1"></div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-12">
						
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-8" id="mats_container">
			{% if parking %}
				<div class="row" id="matricula1">
					<div class="col-lg-9">
						<h3>Vehículos en Parking</h3>
					</div>
					<div class="col-lg-1">
						<a href="{% url 'salidas'%}" style="color:blue">Salidas</a>
					</div>
					<div class="col-lg-1">
						<a href="{% url 'arqueo'%}" style="color:blue">Arqueo</a>
					</div>
				</div>
				<br>
				<div class="row">
				{% for i in parking %}
					<div class="col-lg-2" id="autos">
						<div class="row">
							<div class="col-lg-12" id="auto_mat">
								<span>{{i}}</span>
							</div>
						</div>
						<div class="row text-center">
							<div class="col-lg-12" id="fecha">
									{{i.fecha_ingreso.date}} | {{i.fecha_ingreso.time}}
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class="row">
					<div class="col-lg-12">
						<h5>No existen Vehículos en Parqueo</h5>
					</div>
				</div>
			{% endif %}
				
			</div>


			<div class="row">

				
			</div>

		</div>
	</div>
	

</div>
<br>



{% endblock %}

{% block scripts%}
<script>
	$("#matricula").val("");
	$("#lab").hide();
	$("#xxx").hide();
	
$(document).ready(function(){

//evento para hacer click en id=auto_mat
	$("[id^='auto_ma']").click(function(){
		var m=$(this).text().trim();
		//mat=mat.substring(mat.length-4,mat.length-3);
		mat=m.replace('-','');
		//alert(mat);
		$("#matricula").val(mat);
		jsonobj=[]
		jsonobj.push({'matricula':m});


		//limpiamos 
		$("#lab").hide();
		$("#pagar").html("");
		$("#min").html("");

		$.ajax({
            type: "POST",
            url: "{% url 'total_pagar' %}",
            dataType: "json",
            //data: {data:JSON.stringify({"data":[{"cod":123,"can":222}],"data2":[{"cod2":999,"can2":101010},{"cod22":"erick","can22":"ricardo"}]})},
            data:{data:JSON.stringify(jsonobj)},
            success: function(data_enviar, status, jqXHR) {
                console.log("Status:--->"+JSON.stringify(data_enviar));

                $("#lab").show();
                $("#xxx").show();
                
                $("#pagar").append("<h1>"+data_enviar.pagar+"</h1>");
                $("#min").append("<h1>"+data_enviar.horas+"hrs. - "+data_enviar.min+"min.</h1>");



                //window.location.replace("{%url 'home'%}");     //Para redireccionar a otra URL
            },
        });



	});
	


	$("#btn_ingreso").click(function(){
		var m=$("#matricula").val();
		if (m===''){
			alert("Ingrese Matricula ");
		}
		else{
		var jsonobj=[];
		var u='{{user}}';
		var mat={};
		var user={};

		mat={'matricula':m};
		user={'user':u};

		jsonobj.push(mat);
		jsonobj.push(user);

        $.ajax({
            type: "POST",
            url: "{% url 'ingreso' %}",
            dataType: "json",
            //data: {data:JSON.stringify({"data":[{"cod":123,"can":222}],"data2":[{"cod2":999,"can2":101010},{"cod22":"erick","can22":"ricardo"}]})},
            data:{data:JSON.stringify(jsonobj)},
            success: function(data_enviar, status, jqXHR) {
                console.log("Status:--->"+JSON.stringify(data_enviar));
                if(data_enviar.status==='true'){
                	alert("Datos Guardados...");
                	$("#matricula").val("");
                	$("#matricula1").html("");
                	window.location.replace("{%url 'home'%}");
                }
                else{
                	alert("No se puede Ingresar la Matricula");
                	$("#matricula").val("");
                	$("#matricula1").html("");
                }
                //window.location.replace("{%url 'home'%}");     //Para redireccionar a otra URL
            },
        });

		}

	});


	$("#matricula").click(function(){
		$(this).val("");
		$("#xxx").hide();
	});

//evento para SALIDA de MATRICULA
	$("#btn_pagar").click(function(){
		var jsonobj=[];
		var m=$("#matricula").val();
		var u='{{user}}';
		var mat={};
		var user={};

		mat={'matricula':m};
		user={'user':u};

		jsonobj.push(mat);
		jsonobj.push(user);

        $.ajax({
            type: "POST",
            url: "{% url 'salida' %}",
            dataType: "json",
            //data: {data:JSON.stringify({"data":[{"cod":123,"can":222}],"data2":[{"cod2":999,"can2":101010},{"cod22":"erick","can22":"ricardo"}]})},
            data:{data:JSON.stringify(jsonobj)},
            success: function(data_enviar, status, jqXHR) {
                console.log("Status:--->"+JSON.stringify(data_enviar));
                if(data_enviar.status==='true'){
                	$("#lab").show();
                	$("#pagar").show();
                	$("#pagar_total").append("<h1>"+data_enviar.pagar+"</h1>")
                	alert("Datos Reportados Satisfactorimanete");
                	window.location.replace("{%url 'home'%}");
                }
                else{
                	alert("No se puede Registrar Salida la Matricula");
                	$("#matricula").val("");
                }
                //window.location.replace("{%url 'home'%}");     //Para redireccionar a otra URL
            },
        });
	});

/////////////////////////////////FIN SALIDA
	    // CSRF code
function getCookie(name) {
  var cookieValue = null;
  var i = 0;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (i; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  crossDomain: false, // obviates need for sameOrigin test
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type)) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});
})
</script>
{%endblock%}

