	body{
		background-color: rgba(235,237,159,0.4);
	}

	input{
		border-radius: 4px 4px;
		font-size: 30px;
		color: rgba(10,10,200,0.9);
		width: 220px;
		height: 50px;
		text-align: center;
		font-family: 'Marmelad', sans-serif;
		margin-bottom: 10px;
	}

	#boton{
		border-radius: 50px 50px;
		height: 90px;
	}
	label{
		color: green;
	}
	#btn{
		
    width: 115px;
    height: 35px;
    
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;

	}
	#btn_ingreso{
		background: rgb(42,184,31);
		position: relative;
		border-radius: 5px;
    	color: white;
    	font-weight: bold;
    	font-size: 24px;
    	width: 120px;
    	height: 40px;
	}
	#btn_pagar{
		background: rgb(184,84,31);
		position: relative;
		border-radius: 5px;
    	color: white;
    	font-weight: bold;
    	font-size: 24px;
    	width: 120px;
    	height: 40px;
	}
	#btn_buscar{
		background: rgb(18,14,101);
		color: #fff;
		margin-top: 8px;
		font-size: 22px;
		font-weight: bold;
		border-radius: 5px;
		width: 140px;

	}


	#titulo{
		color: rgb(220,200,10);
		background-color: rgba(20,20,20,1);
		font-family: 'Monoton', cursive;
		border-radius: 8px 8px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-top: 10px;
		text-shadow: 2px 1px 10px #fff;
		box-shadow: 2px 2px 4px #111;
		border-bottom: solid 1px rgb(220,200,10);
		border-left: solid 1px rgb(220,200,10);
		border-right: solid 1px rgb(220,200,10);

	}
	#bs{
		vertical-align: text-bottom;
	}
	#boton{
		align-content: center;
	}
	#matricula{
		text-transform: uppercase;
	}
	#matricula1{
		border-bottom: 2px solid green;
		background-color: rgba(200,200,200,0.4);
		padding-top: 10px;
		color: green;
		font-weight: bold;
		text-shadow: 1px 2px 2px #666;
	}
	#usuario{
		height: 10px;
		margin-top: -8px;
		margin-left: 20px;
		margin-bottom: 10px;
		font-size: 10px;
		color: rgba(10,10,10,0.5);
	}
	#autos{
		background-color: rgba(255,255,250,1);
		margin-right: 10px;
		margin-bottom: 5px;
		border-radius: 5px 5px 5px;
		border: 2px solid #53a;
		color:#53a;
		font-weight: bold;
		font-size: 22px;
		text-shadow: 1px 1px 1px #999;
		width: 170px;

	}
	#fecha{
		font-size: 10px;
	}
	a{
		text-decoration: none;
		color:#eee;
	}
	a:hover{
		text-decoration: none;
		color:#eee;
	}
	span{
		cursor:grab;
	}
	#xxx{
		background-color: rgb(50,140,50);
		border: 2px solid #eee;
		border-radius: 5px 5px 5px;
		color:#eee;
		text-shadow: 1px 2px 2px #222;
		font-weight: bold;
		box-shadow: 2px 4px 4px #444;
	}